<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*<meta property="description" content="teste" />
        <meta property="og:title" content="teste" />
        <meta property="og:url" content="http://www.teste.com" />
        <meta property="og:description" content="teste" />
        <meta property="og:image" content="/assets/coverr_new_meta_image-fd686adb473cb21d0f6af1c70d8adbab.jpg" />
        <meta name="google-site-verification" content="PUIw6OhsS-xx6WGCH6u_H8ISVMLVvj7VTgvFNXF-KqA" />*@

    <title>Consultoria Bitcoin</title>

    <environment include="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development,Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default" data-offset-top="10" data-offset-bottom="10">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#first">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Account" asp-action="Login" class="navbar-brand">
                    <img src="~/images/consultoria-de-bitcoin.png" alt="Brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse" id="first">

                <ul class="nav navbar-nav">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "PaginaInicial" ? "active" : "")">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")">
                            <a asp-area="" asp-controller="Account" asp-action="Register">Usuários</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contrato" ? "active" : "")">
                            <a asp-area="" asp-controller="Sistema" asp-action="Contrato">Contratos</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Relatorio" ? "active" : "")">
                            <a asp-area="" asp-controller="Sistema" asp-action="Relatorio">Relatórios</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Parametrizacao" ? "active" : "")">
                            <a asp-area="" asp-controller="Sistema" asp-action="Parametrizacao">Parametrização</a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Lembrete" ? "active" : "")">
                            <a asp-area="" asp-controller="Sistema" asp-action="Lembrete">Lembrete</a>
                        </li>
                    }
                    @*<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Ajuda" ? "active" : "")">
                            <a asp-area="" asp-controller="Home" asp-action="Ajuda"><i class="fa fa-street-view fa-lg"></i> Ajuda</a>
                        </li>*@
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()

        <footer class="container-fluid text-center">
            <a href="#myPage" title="Início">
                <span class="fas fa-angle-up logo5"></span>
            </a>

            <hr />

            <p class="pfooter">&copy; 2018 - Desenvolvido by Sergio dos Santos Rezende e Daniel Lobak</p>

        </footer>

    </div>

    <environment include="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development,Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

</html>