@model CbWebApp.Domains.Tarefa

@{
    ViewData["Title"] = "Delete";
}


<h2>Tarefas</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Deletar</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Completa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Completa)
        </dd>
    </dl>

    <form asp-action="Delete" asp-controller="Tarefa" method="post">
        <input type="hidden" asp-for="Id" />

        <button type="button" class="btn btn-danger btn-sm" data-item-id="@Model.Id" data-toggle="modal" data-target="#confirm-delete" aria-hidden="true">Deletar</button>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Confirmar operação</h4>
                        </div>
                        <div class="modal-body">
                            Tem certeza que deseja deletar?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <input type="submit" value="Deletar" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <a asp-action="Tarefa">Voltar a lista</a>
        </div>

    </form>

</div>
